body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background-image: url("http://www.mrwallpaper.com/wallpapers/gradient-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
}

#header {
  margin: -10px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#name {
  font-size: 36px;
  text-decoration: none;
  color: black;
  font-family: 'Lobster', sans-serif;
}

#createlink {
  padding-top: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

#postscontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  width: 70%;
  padding: 20px;
  border-radius: 5px;
}

#post {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#newcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  width: 70%;
  padding: 20px;
  border-radius: 5px;
}

#new > input {
  margin-bottom: 10px;
  font-size: 18px;
}

#newcontent {
  font-size: 18px;
}

#new > h2 {
  text-align: center;
}

#submitbuttons {
  margin-top: 10px;
  font-family: 'Lobster', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#showcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  width: 70%;
  padding: 20px;
  border-radius: 5px;
}

#showtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -20px;
}

#showtitleicons {
  margin-top: 20px;
}

#editcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  width: 70%;
  padding: 20px;
  border-radius: 5px;
}

#titlebar {
  margin-bottom: 10px;
}

#titletextarea {
  font-size: 24px;
}

#icons {
  margin-top: 20px;
}

#edittags {
  margin-bottom: 10px;
}

footer {
  font-size: 12px;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#contentnew {
  font-size: 18px;
}
